<!DOCTYPE html>
<html>
    <head>
        <title><h1>Check My Postcode</h1></title>
        <p>Enter your postcode to see its deprivation scores</p>
    </head>
    <body>
        <form method="POST">
            <label for="postcode">Postcode:</label>
            <input type="text" id="postcode" name="postcode" required>
            <input type="submit" value="Submit">
            <div id='result'>
                {% if result %}
                <p>Result: {{ result | safe }}</p>
                {% endif %}
            </div>
            <div id='EDA'>
                <h3>Data Overview for the UK Indices of Deprivation </h3>
                <p>{{ descriptions | safe }}</p>
                <h3>Correlations between categories</h3>
                <p>{{ correlations | safe }}</p>
            </div>
        </form>
    </body>
</html>